body {
    font-family: 'Anton', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: url(Images/marble.jpg) no-repeat center center fixed;
    background-size: cover;
    
  }

a {color: aqua !important;

}
.mypic {background: url(Images/GOAT.JPG) no-repeat center center fixed;}

h1 {color: #dc143c;}

.github,
.facebook,
.instagram{
    width:50px;
    margin-left:40px; 
    margin-top: 20px;
}
h3{margin-top: 15px;
    color: orchid;
    font-size: 30px;
    text-emphasis: strong;

}